﻿@using SisCom.Helpers

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <div>
                <a href="@Url.Action("Index", "Home")">
                    <img class="img-profile rounded-circle" src="~/dist/SCL/imagenes/logos/logoEmpresa.jpg" style="max-height:70px;">
                    <span style="font-size: 15px;"><b>Concesionario R&O S.R.L | Hora: <span style="color:red;"> @DateTime.Now.Hour:@(DateTime.Now.Minute < 10 ? "0" + DateTime.Now.Minute : DateTime.Now.Minute.ToString()) @(DateTime.Now.Hour < 12 ? "am" : "pm")</span></b></span>
                </a>
            </div>
        </div>
    </form>
    <!-- Topbar Navbar -->
    <ul class="nav justify-content-center text-uppercase">
        @if (User.IsInRole("Cajero"))
        {
            <li class="nav-item">
                @if (GetUser.getOpenAttendance(User.Identity.Name) > 0)
                {
                    <a href="@Url.Action("Index", "attendance", new { idAttendance = GetUser.getOpenAttendance(User.Identity.Name) })"><i class="fa fa-box"></i> Cerrar Caja</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "attendance" )"><i class="fa fa-box"></i> Abrir Caja</a>
                }
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Sales" )"><i class="fa fa-cash-register"></i> Ventas</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("FastCreate", "Sales" )"><i class="fa fa-cash-register"></i> Extemporáneas</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Supplies" )"><i class="fa fa-carrot"></i> Insumos</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Products" )"><i class="fa fa-drumstick-bite"></i> Productos</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Customers" )"><i class="fa fa-smile-beam"></i> Clientes</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Sales", "reports")"><i class="fa fa-box"></i> Reportes</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "company" )"><i class="fa fa-bars"></i> Empresas</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home" )"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Sales" )"><i class="fa fa-cash-register"></i> Ventas</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("FastCreate", "Sales" )"><i class="fa fa-cash-register"></i> Extemporáneas</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Products" )"><i class="fa fa-drumstick-bite"></i> Productos</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Supplies" )"><i class="fa fa-carrot"></i> Insumos</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "ServiceType" )"><i class="fa fa-utensils"></i> Servicios</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Customers" )"><i class="fa fa-smile-beam"></i> Clientes</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Sales", "reports")"><i class="fa fa-box"></i> Reportes</a>
            </li>

            <li class="nav-item">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users"></i> Administrador
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Index", "branch" )"><i class="fa fa-drumstick-bite"></i> Sucursales </a>
                    <a class="dropdown-item" href="@Url.Action("Index", "customers" )"><i class="fa fa-drumstick-bite"></i> Clientes</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "products" )"><i class="fa fa-drumstick-bite"></i> Productos</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "organizations" )"><i class="fa fa-drumstick-bite"></i> Organización</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "pos" )"><i class="fa fa-drumstick-bite"></i> Puntos de servicio</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "serviceType" )"><i class="fa fa-drumstick-bite"></i> Tipos de servicio</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "supplies" )"><i class="fa fa-drumstick-bite"></i> Insumos</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "user" )"><i class="fa fa-drumstick-bite"></i> Usuarios</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "workUnit" )"><i class="fa fa-drumstick-bite"></i> Unidades de trabajo</a>
                    <a class="dropdown-item" href="@Url.Action("RegistroAtenciones", "attendance" )"><i class="fa fa-drumstick-bite"></i> Registro de atenciones</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "company" )"><i class="fa fa-drumstick-bite"></i> Empresas</a>
                </div>
            </li>
        }
    </ul>
    @if (User.IsInRole("Cajero"))
    {
        <ul class="nav justify-content-center text-uppercase">
            @if (GetUser.getOpenAttendance(User.Identity.Name) > 0)
            {
                <h3><span class="badge badge-success">Caja abierta</span></h3>
            }
            else
            {
                <h3><span class="badge badge-danger">Caja cerrada</span></h3>
            }
        </ul>
    }

    <!-- Region Reports Dropdown -->
    <!-- End Region Reports Dropdown -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="~/dist/SCL/imagenes/dashboard/img-user.png" style="max-height:20px;">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("SignOut", "Home")">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesión
                    </a>
                }
            </div>
        </li>
    </ul>
</nav>
@section Scripts {
    @Scripts.Render("~/dist/js/login/logout.js")"
}
<!-- End of Topbar -->
