﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("~/dist/css/app.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/preloader/.css")">

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body>
    <div style="position: relative;">
        <div class="se-pre-con text-center" style="position: absolute; z-index: 1000; width: 100%; height: 100%; background-color: aliceblue; opacity: 0.9;">
            <img src="@Url.Content("~/dist/SCL/imagenes/load.svg")" style="margin-top:15%;">
        </div>
        <input type="hidden" id="baseUrl" value="@Url.Content("~/")" />
        <!-- Navigation -->
        @Html.Partial("_DidNav")
        <!-- Content Wrapper -->
        <div class="container-fluid px-4 body-content">
            @Html.Partial("_DidTopBar")
            <div class="container">
                @RenderBody()
            </div>
            <hr />
        </div>
        <footer class="ml-5 text-center" style="bottom:0;">
            <span class="hint-text"> <b><em>Copyright &copy; @DateTime.Now.Year - Desarrollado por el Team SysCom <br /> Todos los derechos reservados. </em> </b></span>
        </footer>
        @RenderSection("featured", required: false)
        <script src="@Url.Content("~/dist/js/layout.js")"></script>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: false)
        }
    </div>
</body>
</html>

