﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("~/dist/css/app.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/preloader/.css")">

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body>
    <div style="position: relative;">
        <input type="hidden" id="baseUrl" value="@Url.Content("~/")" />
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        @RenderSection("featured", required: false)
        <script src="@Url.Content("~/dist/js/layout.js")"></script>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: false)
        }
    </div>
</body>
</html>
