﻿@model SisCom.Models.sale

@{
    ViewBag.Title = "Create Sale";
}

@Html.AntiForgeryToken()

<div class="form-horizontal" id="saleCreate">

    <div v-if="!showClassic" class="container">

        <h3>Venta rápida: </h3>
        <hr />

        <div class="d-flex col-md-12">
            <div class="form-group col-md-3 d-flex text-center">
                <div class="col-md-12 m-auto">
                    <label for="idCustomer">Documento del cliente:</label>
                    <input class="form-control" placeholder="Busque por DNI/CÓDIGO" v-model="saleVM.dni" v-on:change="saveFastSale" />
                    <button v-on:click="saveFastSale" class="btn btn-info btn-sm text-white mt-2"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>

            <div class="form-group col-md-3 d-flex text-center" style="margin-top:-25px;">
                <div class="col-md-12 m-auto" v-on:click="selectCustomerFast">
                    <label for="idCustomer">Nombres/Apellidos cliente:</label>
                    <vue-bootstrap-typeahead v-model="customerNameFast" :data="customersToAutoComplete"
                                             ref="nameTypeaheadA" placeholder="Busque por APELLIDOS/NOMBRES" />
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="col-md-6">
                    <label for="customerName">Fecha de la Venta:</label>
                    <input id="customerName" class="form-control text-uppercase" v-model="saleVM.createdAt" disabled />
                </div>
                <div class="col-md-6">
                    <label for="serviceTypeName">Tipo de comida:</label>
                    <input id="serviceTypeName" class="form-control text-uppercase" v-model="serviceTypeVM.name" disabled />
                </div>

            </div>
        </div>
    </div>

    <div class="text-center"><button v-on:click="showClassicSale" class="btn btn-secondary btn-sm"> <i class="fas fa-arrow-alt-circle-down"></i> Ir a la venta {{ showName }} </button></div>

    <div v-if="showClassic" class="container">
        <h3>Venta clásica: </h3>
        <hr />

        <div class="form-group col-md-5 text-center">
            <div class="col-md-5 m-auto">
                <label for="idCustomer">Documento del cliente:</label>
                <input class="form-control" v-model="saleVM.dni" v-on:change="invocateCustomer" />
                <button v-on:click="invocateCustomer" class="btn btn-info btn-sm text-white mt-2"><i class="fa fa-search"></i> Buscar</button>
            </div>

            <div class="col-md-7 m-auto" v-on:click="selectCustomerClassic">
                <label for="idCustomer">Nombres/Apellidos cliente:</label>
                <vue-bootstrap-typeahead v-model="customerNameClassic" :data="customersToAutoComplete"
                                         ref="nameTypeaheadB" placeholder="Busque por APELLIDOS/NOMBRES" />
            </div>
        </div>


        <div class="form-group col-md-7">
            <div class="col-md-6">
                <label for="customerName">Fecha de la Venta:</label>
                <input id="customerName" class="form-control text-uppercase" v-model="saleVM.createdAt" disabled />
            </div>
            <div class="col-md-6">
                <label for="customerName">Nombre del cliente:</label>
                <input id="customerName" class="form-control text-uppercase" v-model="customerName" disabled />
            </div>
            <div class="col-md-6 mt-2">
                <label for="state">Estado del cliente:</label>
                <input v-if="customerVM.isActive=='initialState'" id="state" class="form-control text-uppercase" value="" disabled />
                <input v-else-if="customerVM.isActive" id="state" class="form-control text-uppercase" value="Activo" disabled />
                <input v-else-if="!customerVM.isActive" id="state" class="form-control text-uppercase" value="Inactivo" disabled />
            </div>
            <div class="col-md-6  mt-2">
                <label for="customerName">Área de trabajo del cliente:</label>
                <input id="customerName" class="form-control text-uppercase" v-model="WorkUnitName" disabled />
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white text-uppercase" style="max-height: 55px;">
                        <span class="card-title"><i class="fas fa-th-list"></i> Lista de Productos:</span>
                    </div>
                    <div class="card-content" style="padding-top: 10px !important;">
                        <table-component :column-names="columnNames"
                                         :table-class="tableClass"
                                         :data-row="dataRow"
                                         v-on:change="updateRow"
                                         v-on:click="addToSale"
                                         paginate="4"></table-component>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white text-uppercase" style="max-height: 55px;">
                        <span class="card-title">
                            <i class="fas fa-cash-register"></i> Venta Actual:
                        </span>
                    </div>
                    <div class="card-content" style="padding-top: 10px !important;">
                        <table-component :column-names="columnNamesSale"
                                         :table-class="tableClass"
                                         :data-row="currentSale"
                                         v-on:click="rmvFromSale"
                                         paginate="4"></table-component>

                        <table class="table" v-if="saleVM.totalPrice > 0">
                            <tbody class="text-right">
                                <tr>
                                    <th style="width: 80%;">
                                        Total subvencionado:
                                    </th>
                                    <th style="text-align: center;">
                                        S/. {{ saleVM.totalGranted }}
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 80%;">
                                        Total a pagar:
                                    </th>
                                    <th style="text-align: center;">
                                        S/. {{ saleVM.totalPrice }}
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 80%;">
                                        Monto entregado x el cliente:
                                    </th>
                                    <th style="text-align: center;">
                                        <input id="cash" class="form-control text-right" v-model="saleVM.cash" style="max-width:50px; margin-left:15px;" v-on:change="changeAmount" />
                                    </th>
                                </tr>
                                <tr class="lime lighten-5">
                                    <th style="width: 80%;">
                                        Pago a cuenta:
                                    </th>
                                    <th style="text-align: center;">
                                        S/. {{ saleVM.accountPayment }}
                                    </th>
                                </tr>
                                <tr class="lime lighten-5">
                                    <th style="width: 80%;">
                                        Vuelto:
                                    </th>
                                    <th style="text-align: center;">
                                        S/. {{ saleVM.change }}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row m-t-15 ml-4 text-left" v-if="currentSale.length > 0">
                            <div class="col m4 mb-4">
                                <div v-if="customerTypeDoc == 'ruc'" class="col l12 center-align my-3">
                                    @*{!! CoreSF::Select('typeDoc' ,'Tipo de documento: ', 'col l12', [['value'=>'boleta','label'=>'Boleta'],['value'=>'factura','label'=>'Factura']], 'saleVM.typeDoc', 'Seleccione el documento', [], true, true) !!}*@
                                </div>
                                <div v-else class="col l12 center-align my-3">
                                    <label style="font-size: 14px; text-transform: uppercase;">Realizar venta: </label>
                                </div>
                                <button id="saveSale" type="button" class="btn btn-success green mr-2"
                                        v-on:click="saveSale()">
                                    <i class="fa fa-save"></i> Registrar venta
                                </button>
                                <button type="button" class="btn btn-danger deep-orange accent-4 mr-2"
                                        v-on:click="cleanData()">
                                    <i class="fa fa-eraser"></i> Limpiar Campos
                                </button>
                                @*<button type="button" id="voucher" class="btn btn-warning yellow darken-3"
                                            v-on:click="generateVocher()">
                                        <i class="fa fa-print"></i> Imprimir
                                    </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Sales")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/sale/create.js")"></script>
}
