﻿@model SisCom.Models.sale

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.totalGranted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalGranted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.change)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.change)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saleOnCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saleOnCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
