﻿@model SisCom.Structure.ViewModels.Sales.SaleDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la venta</h2>

<div class="d-flex" id="saleDetail">
    <input type="hidden" id="idSale" value="@Model.idSale" />
    <div class="col-md-6">
        <h4>Venta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Total subvencionado:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.totalGranted)
            </dd>

            <dt>
                Precio Total:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.totalPrice)
            </dd>

            <dt>
                Dinero Entregado:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.cash)
            </dd>

            <dt>
                Dinero a cuenta:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.accountPayment)
            </dd>

            <dt>
                Vuelto:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.change)
            </dd>

            <dt>
                Fecha de la venta:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdAt)
            </dd>

            <dt>
                Fecha de cancelación:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.deletedAt)
            </dd>

            <dt>
                Nombre del Cliente:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customer.name)
                @Html.DisplayFor(model => model.customer.fatherLastname)
                @Html.DisplayFor(model => model.customer.motherLastname)
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>Productos en esta venta:</h4>
        <hr />
        <table width="100%">
            <thead>
                <tr>
                    <th> Código del producto </th>
                    <th> Nombre del producto </th>
                    <th> Precio </th>
                    <th class="text-center"> Precio subvencionado </th>
                    <th> Cantidad </th>
                    <th> Subtotal </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.details)
                {
                    <tr>
                        <td>
                            @item.product.idProduct
                        </td>
                        <td>
                            @item.product.name
                        </td>
                        <td>
                            s/. @item.product.price
                        </td>
                        <td class="text-center">
                            s/.  @item.grantedPrice
                        </td>
                        <td>
                            @item.quantity und.
                        </td>
                        <td>
                            s/. @item.totalPrice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.idServiceType == null)
        {
            if (Model.deletedAt == null)
            {
                <div class="col-md-12 mt-5 text-center">
                    <button id="refuse" v-on:click="showAlertBeforeRefuse" class="btn btn-danger"><i class="fas fa-recycle"></i> rechazar venta</button>
                </div>
            }
            else
            {
                <div class="col-md-12 mt-5 text-center">
                    <span style="color:red;"> <b> <em>La venta ya ha sido rechazada ... </em></b></span>
                </div>
            }
        }
    </div>

</div>
<div>
    <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Sales")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/sale/detail.js")"></script>
}
