﻿@model SisCom.Models.sale

@{
    ViewBag.Title = "Create Fast Sale";
}

<h2>Venta Rápida:</h2>


@Html.AntiForgeryToken()

<div class="mt-5" id="saleFastCreate">
    <div class="row">
        <div class="form-group col-md-3 text-center">
            <div class="col-md-12 m-auto" v-on:click="selectCustomerClassic">
                <label for="idCustomer">Nombres/Apellidos cliente:</label>
                <vue-bootstrap-typeahead v-model="customerNameClassic" :data="customersToAutoComplete"
                                         ref="nameTypeaheadB" placeholder="Busque por APELLIDOS/NOMBRES" />
            </div>
        </div>
        <div class="form-group col-md-3 text-center">
            <div class="col-md-12">
                <label for="customerName">Nombre del cliente:</label>
                <input id="customerName" class="form-control" v-model="customerName" disabled />
            </div>
        </div>
        <div class="form-group col-md-3 text-center">
            <div class="col-md-12">
                <label for="customerName">Tipo de comida:</label>
                <select class="form-control" v-model="serviceTypeID">
                    <option v-for="serviceType in serviceTypes" :value="serviceType.idServiceType" selected> {{serviceType.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-3 text-center">
            <label for="beginDate">Fecha de la venta extemporánea:</label>
            <input id="beginDate" class="form-control p-2" v-model="startDateInput" placeholder="Fecha de la venta extemporánea" hidden />
            <datepicker :language="es" id="calendar1" :minimum-view="'day'" :input-class="['form-control']" v-on:selected="changeStartDate"></datepicker>
        </div>
        <div class="col-lg-12 text-center mt-5">
            <button v-on:click="SaveUntimelySale" class="btn btn-success">Guardar venta Extemporánea</button>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Sales")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/sale/fastCreate.js")"></script>
}
