﻿@model IEnumerable<SisCom.Models.sale>

@{
    ViewBag.Title = "Index";
}

<div id="saleIndex">
    <h2>Lista de ventas realizadas</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "Sales")"><i class="fas fa-plus"></i> Crear Nuevo</a>
    <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initForm(paginatorList=1)">
        <option selected value="10">10 Registros</option>
        <option value="20">20 Registros</option>
        <option value="50">50 Registros</option>
        <option value="100">100 Registros</option>
    </select>
    <table class="table table-hover">
        <tr>
            <th>
                Fecha de<br /> la venta
            </th>
            <th>
                Usuario
            </th>
            <th>
                Cliente
            </th>
            <th>
                Servicio
            </th>
            <th>
                Total <br />Subven.
            </th>
            <th>
                Precio <br />Total
            </th>
            <th>
                Dinero <br />dado
            </th>
            <th>
                Pago <br />a cuenta
            </th>
            <th>
                Dinero <br />devuelto
            </th>
            <th>
                Estado de <br />
                la venta
            </th>
            <th class="text-center">
                Detalle
            </th>
        </tr>

        <tr v-for="saleVM in list.Results">
            <td class="text-capitalize">
                {{saleVM.createdAt}}
            </td>
            <td>
                {{saleVM.attendance.pos.User.name}} {{saleVM.attendance.pos.User.fatherLastName}}

            </td>
            <td>
                {{saleVM.customer.name}} {{saleVM.customer.fatherLastname}} {{saleVM.customer.motherLastname}}
            </td>
            <td>
                {{saleVM.serviceType.name}}
            </td>
            <td>
                s/. {{saleVM.totalGranted}}
            </td>
            <td>
                s/. {{saleVM.totalPrice}}
            </td>
            <td>
                s/. {{saleVM.cash}}
            </td>
            <td>
                s/. {{saleVM.accountPayment}}
            </td>
            <td>
                s/. {{saleVM.change}}
            </td>
            <td>
                <span :class="['p-2', saleVM.deletedAt == '' ? 'badge bg-success': 'badge bg-danger']"> {{ saleVM.deletedAt == '' ? 'realizada' : 'rechazada' }}</span>
            </td>
            <td class="text-center">
                <a :href="'@Url.Action("Details", "Sales")' + '?idSale='+saleVM.idSale" class="btn btn-xs btn-info btn-circle text-white"><i class="fas fa-eye" title="Detalle Formulario"></i></a>
                <a href="#" v-if="saleVM.deletedAt == ''" v-on:click="showAlertBeforeRefuse(saleVM.idSale)" class="btn btn-xs btn-danger btn-circle text-white"><i class="fas fa-trash" title="Detalle Formulario"></i></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/sale/index.js")"></script>
}

