﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="organizationsVue" data-url="@Url.Action("EditJson", "Organizations", new { idOrganization = Model.idOrganization })">
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Organización</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Nombre:</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Dirección:</label>
                    <input id="address" name="address" class="form-control form-control-sm" v-model="form.address" disabled />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <a href="@Url.Action("Index", "Organizations")" class="btn btn-warning">Atrás</a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/organizations/edit.js")"></script>
}