﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="organizationsVue" data-url="@Url.Action("EditJson", "Organizations", new { idOrganization = Model.idOrganization })">
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Editar organización</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Nombre:</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Dirección:</label>
                        <input id="address" name="address" class="form-control form-control-sm" v-model="form.address" />
                    </div>
                </div>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="editOrganization">Guardar</button>
                <a href="@Url.Action("Index", "Organizations")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/organizations/edit.js")"></script>
}