﻿@{
    ViewBag.Title = "Index";
}
<div id="organizationsVue">
    <h2>Organización</h2>
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Dirección
            </th>             
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list">
            <td>
                {{ reg.name }}
            </td>
            <td>
                {{ reg.address}}
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "Organizations")' + '?idOrganization='+reg.idOrganization" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a :href="'@Url.Action("Detail", "Organizations")' + '?idOrganization='+reg.idOrganization" class="btn btn-xs btn-info btn-circle"><i class="fas fa-file-alt" title="Detalle"></i></a>
            </td>
        </tr>

    </table>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/organizations/index.js")"></script>
}