﻿<div class="card bg-white">
    <div class="card-header bg-white pb-0">
        <h5 class="card-title pt-1 text-center">Unidad de trabajo</h5>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="PaxCab">Nombre de la unidad de trabajo</label>
                <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" disabled/>
            </div>
        </div>
    </div>
</div>