﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="workUnitVue">
    @using (Html.BeginForm("Create", "WorkUnit", FormMethod.Post, new { id = "idWorkUnit", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Registrar nueva unidad de trabajo</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Nombre de la unidad de trabajo:</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                </div>
                <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="createWorkUnit">Guardar</button>
                <a href="@Url.Action("Index", "WorkUnit")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/workUnit/create.js")"></script>
}
