﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="workUnitVue" data-url="@Url.Action("EditJson", "WorkUnit", new { idWorkUnit = Model.idWorkUnit })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteWorkUnit">Desactivar unidad de trabajo</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/workUnit/edit.js")"></script>
}