﻿@using SisCom.Helpers
@{
    ViewBag.Title = "Home Page";
    string usuario = Convert.ToString(Session["usuario"]);
}

<div id="home" class="row" v-cloak>
    <div class="col-md-12">
        <div class="col-md-12 mb-3 mt-5">
            <h4 class="text-xs text-primary text-uppercase mb-1 text-center"><b>Bienvenido al Sistema Comedor Empresarial</b></h4>
            <div class="h5 mb-0 text-gray-800 text-center mt-3 text-uppercase"><b>@ViewBag.nombres</b></div>
            <div class="col-auto text-center  mb-3 mt-3">
                <img class="img-profile rounded-circle" src="~/dist/SCL/imagenes/dashboard/img-user.png" style="max-height:100px;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-primary shadow h-60">
                <div class="card-body" style="background-color: #fff2f2;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Clientes Registrados</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ allCustomers }} clientes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-primary shadow h-60">
                <div class="card-body" style="background-color: #fffef2;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Clientes Activos</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ activesCustomers }} activos </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-primary shadow h-60">
                <div class="card-body" style="background-color: #f5fff2;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Clientes Inactivos</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ inactivesCustomers }} inactivos </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-success shadow h-60">
                <div class="card-body" style="background-color: #f2ffff;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Ventas Rápidas Realizadas</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ fastSalesMade }} ventas </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mt-4">
            <div class="card border-left-success shadow h-60">
                <div class="card-body" style="background-color: #f2f7ff;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Ventas Normales Realizadas</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ normalSalesMade}} ventas</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mt-4">
            <div class="card border-left-warning shadow h-60">
                <div class="card-body" style="background-color: #f8f2ff;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Ventas Rechazadas</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ canceledSales }} ventas</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mt-4">
            <div class="card border-left-warning shadow h-60">
                <div class="card-body" style="background-color: #fff2f9;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Productos activos</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ activesProducts }} unidades</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mt-4">
            <div class="card border-left-warning shadow h-60">
                <div class="card-body" style="background-color: #f9fff2;">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs text-uppercase mb-1 label-card"><b>Productos inactivos</b></div>
                            <div class="h5 mb-0 text-gray-800">{{ inactivesProducts }} unidades</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header text-uppercase pt-6" style="background-color: #fff2f2;">
                    <h5> <i class="fas fa-users"></i><b> Lista de empleados: </b></h5>
                </div>
                <div class="card-body m-0">
                    <table class="table-hover" width="100%">
                        <thead class="text-uppercase">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos y Nombres</th>
                                <th>Sucursal</th>
                                <th>Cargo</th>
                                <th>Estado</th>
                                <th>DNI</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user of userList">
                                <td class="py-2">{{ user.name }}</td>
                                <td class="py-2">{{ user.fatherLastName }} {{ user.motherLastName }}, {{ user.name }}</td>
                                <td class="py-2">{{ user.Branch.name}}</td>
                                <td class="py-2">{{ user.Role.name}}</td>
                                <td :class="['py-2',user.isActive ? 'badge bg-success' :'badge bg-danger']">{{ user.isActive ? 'Activo': 'Inactivo'}}</td>
                                <td class="py-2">{{ user.dni}}</td>
                                <td class="py-2">
                                    <a :href="'@Url.Action("Detail", "User")' + '?idUser='+user.idUser" class="btn btn-xs btn-info btn-circle text-white"><i class="fas fa-eye" title="Detalle Formulario"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header text-uppercase pt-6" style="background-color: #fff2f2;">
                    <h5> <i class="fas fa-users"></i><b> Estado de cajas: </b></h5>
                </div>
                <div class="card-body m-0">
                    <table class="table-hover" width="100%">
                        <thead class="text-uppercase">
                            <tr>
                                <th>Caja</th>
                                <th>Responsable</th>
                                <th>DNI</th>
                                <th>Hora de apertura</th>
                                <th>Estado de caja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="reg of openAttendances">
                                <td class="py-2">{{ reg.pos }}</td>
                                <td class="py-2">{{ reg.user }}</td>
                                <td class="py-2">{{ reg.dni}}</td>
                                <td class="py-2">{{ reg.openHour}}</td>
                                <td :class="['py-2',reg.state ? 'badge bg-success' :'badge bg-danger']">{{ reg.state ? 'Abierta': 'Cerrada'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/home/home.js")"></script>
}
