﻿@model SisCom.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginVue", role = "form" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-vh-100 justify-content-center">
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <div class="card rounded shadow shadow-sm">

                            @Html.AntiForgeryToken()

                            <div class="card-body mt-3">
                                <div class="col-lg-12 text-center mt-3">
                                    <h5><b>Inicio de sesión al Sistema de Registros <br />  SysCom </b></h5>
                                    <br />
                                    <img class="img-profile rounded-circle" src="~/dist/SCL/imagenes/dashboard/img-user.png" style="max-height:80px;">
                                </div>

                                <div class="col-lg-12 mt-5 text-center login-content">
                                    <div class="col-md-12 my-3">
                                        <label for="dni"> Ingrese su DNI </label>
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "dni", @class = "form-control", @placeholder = "Dni", @required = "True", @value = "" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12 my-3">
                                        <label for="password"> Ingrese su Password </label>
                                        @Html.TextBoxFor(m => m.Password, new { @id = "password", @class = "form-control", @placeholder = "Password", @type = "password", @required = "True", @value = "", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group col-md-12 text-center mb-4">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    <style>
        body {
            background: #303030 !important;
        }

        img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .login-content {
            margin-bottom: 10px !important;
            border: 1px solid #bababa !important;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/dist/js/home/login.js")"></script>
}
