﻿@{
    ViewBag.Title = "Detail";
    int idUser = Convert.ToInt32(Session["usuario"]);
}
<div class="wrapper wrapper-content animated fadeInRight" id="perfilVue" data-url="@Url.Action("PerfilJson", "Home", new { idUser = idUser })">
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Usuario</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Nombre(s):</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" disabled />
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Apellido Paterno:</label>
                    <input id="fatherLastname" name="fatherLastname" class="form-control form-control-sm" v-model="form.fatherLastName" disabled />
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Apellido Materno:</label>
                    <input id="motherLastName" name="motherLastName" class="form-control form-control-sm" v-model="form.motherLastName" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">DNI:</label>
                    <input id="dni" name="dni" class="form-control form-control-sm" v-model="form.dni" disabled />
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Rol</label>
                    <input id="role" name="role" class="form-control form-control-sm" v-model="form.role" disabled />
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Sucursal</label>
                    <input id="branch" name="branch" class="form-control form-control-sm" v-model="form.Branch.name" disabled />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="w-100 text-center mb-4">
        <button type="button" class="btn btn-danger" v-on:click="LogOut">Cerrar sessión</button>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Atrás</a>
    </div>


</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/home/perfil.js")"></script>
}