﻿
@{
    ViewBag.Title = "Atención";
}
<div class="wrapper wrapper-content animated fadeInRight" id="attendanceVue" data-url="@Url.Action("IndexJson", "Attendance", new { idAttendance = Model.idAttendance })">
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Abrir caja</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Nombre de usuario:</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="userName" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Caja:</label>
                    <br />
                    <select id="idPos" class="custom-select custom-select-sm" v-model="form.idPos">
                        <option v-for="(state, index) in dropdowns.PosByUser" :value="state.Value">
                            {{ state.Text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Caja inicial (S/.):</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.startCash" />
                </div>
            </div>
        </div>
        <br />
        <div class="w-100 text-center mb-4">
            <button type="button" class="btn btn-primary" v-on:click="openAttendance">Abrir caja</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/dist/js/attendance/index.js")"></script>
}