﻿@{
    ViewBag.Title = "Index";
}
<div id="attendanceVue">
    <h2>Registro de atenciones</h2>

    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Usuario encargado
            </th>
            <th>
                Punto de servicio
            </th>
            <th>
                Fecha/Hora de apertura
            </th>
            <th>
                Fecha/Hora de cierre
            </th>
            <th>
                Dinero inicial
            </th>
            <th>
                Dinero actual
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.pos.User.name }}
            </td>
            <td>
                {{ reg.pos.name }}
            </td>
            <td>
                {{ reg.startAt }}
            </td>
            <td>
                {{ reg.endAt }}
            </td>
            <td>
                {{ reg.startCash }}
            </td>
            <td>
                {{ reg.currentCash }}
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/attendance/registroAtenciones.js")"></script>
}

