﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="companyVue" data-url="@Url.Action("EditJson", "Company", new { idCompany = Model.idCompany })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteCompany">Desactivar empresa</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/company/edit.js")"></script>
}