﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container" id="loginVue">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Acceder</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="dni">DNI:</label>
                                <input type="text" class="form-control form-control-lg rounded-0" name="dni" id="dni" v-model="dni" required="">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control form-control-lg rounded-0" name="password" id="password" v-model="password" required="">
                            </div>
                            <p class="text-danger">{{message}}</p>
                            <button type="button" class="btn btn-primary" v-on:click="login">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/dist/js/login/login.js")"></script>
}
