﻿<div class="modal" id="modal-control-insume" tabindex="-1" role="dialog" aria-labelledby="modal-control-insume" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="modal-control-insume-title"><b>Actualizar los datos del insumo</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-4">
                <div class="row">
                    <div class="col-md-12 text-center text-uppercase mt-3 mb-5">
                        <h5><b>Insumo {{supplyVM.name}} </b></h5>
                    </div>
                    <div class="col-md-4 text-center text-uppercase">
                        <label for="stock">Stock actual:</label>
                        <input v-if="supplyVM.isActive" class="form-control" type="number" name="stock" v-on:keypress="verifyNumber" required min="0" step="1" v-model="supplyVM.stock" />
                        <input v-else type="number" name="stock" readonly disabled v-model="supplyVM.stock" />
                    </div>
                    <div class="col-md-4 text-center text-uppercase">
                        <label for="weight">Peso actual:</label>
                        <input v-if="supplyVM.isActive" class="form-control" type="number" name="weight" v-on:keypress="verifyNumber" required min="0" step=".1" v-model="supplyVM.weight" />
                        <input v-else type="number" name="stock" readonly disabled v-model="supplyVM.stock" />
                    </div>
                    <div class="col-md-4 text-center text-uppercase">
                        <p for="weight"><b>Estado del insumo:</b></p>
                        <span :class="['badge', supplyVM.isActive ? 'badge-success':'badge-danger']">{{supplyVM.isActive == true ? 'Activo': 'Inactivo'}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button v-on:click="updateSupply" type="button" class="btn btn-success"><i class="fa fa-save"></i> Guardar cambios</button>
            </div>
        </div>
    </div>
</div>