﻿@{
    ViewBag.Title = "Create";
}

<div id="suppliesCreate">
    <h2>Insumo</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Crear insumo</h4>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="name">Nombre:</label>
                <div class="col-md-10">
                    <input class="form-control" v-model="supplyVM.name" id="name" placeholder="Nombre del insumo" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="stock">Unidades Actuales en Stock:</label>
                <div class="col-md-10">
                    <input class="form-control" v-on:keypress="verifyNumber" type="number" v-model="supplyVM.stock" id="stock" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="minStock">Unidades Minimas en Stock:</label>
                <div class="col-md-10">
                    <input class="form-control" v-on:keypress="verifyNumber" type="number" v-model="supplyVM.minStock" id="stock" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="weight">Peso Actual en Stock (Kg):</label>
                <div class="col-md-10">
                    <input class="form-control" v-on:keypress="verifyNumber" type="number" v-model="supplyVM.weight" id="weight" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="minWeight">Peso Minimo en Stock (Kg):</label>
                <div class="col-md-10">
                    <input class="form-control" v-on:keypress="verifyNumber" type="number" v-model="supplyVM.minWeight" id="minWeight" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="price">Precio del insumo:</label>
                <div class="col-md-10">
                    <input class="form-control" v-on:keypress="verifyNumber" type="number" v-model="supplyVM.price" id="price" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="idBranch">Sucursal:</label>
                <div class="col-md-10">
                    <select class="form-control" v-model="supplyVM.idBranch">
                        <option value="0" disabled>Seleccione la sucursal</option>
                        <option v-for="branchVM in branchsVM" :value="branchVM.idBranch">{{branchVM.name}}</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a v-on:click="storeSupplies" id="save" class="btn btn-success text-white"> <i class="fas fa-save"></i> Guardar</a>
                </div>
            </div>
        </div>
    }

    <div>
        <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Supplies")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/supplies/create.js")"></script>
}
