﻿@model SisCom.Models.supplies

@{
    ViewBag.Title = "Delete";
}

<div id="supplyDelete">

    <h2>Eliminar</h2>

    <h3>Estás seguro que quieres eliminar este insumo ?</h3>
    <div>
        <h4>Insumos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nombre:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Stock:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stock)
            </dd>

            <dt>
                Peso:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weight)
            </dd>

            <dt>
                Precio:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Sucursal:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.branch.name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/supplies/detail.js")"></script>
}

