﻿@model SisCom.Models.supplies

@{
    ViewBag.Title = "Details";
}

<div id="supplyDetail">
    <h2>Detalle del Insumo</h2>

    <div>
        <h4>Insumos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nombre:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Stock Actual:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stock) Und.
            </dd>

            <dt>
                Stock Mínimo:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.minStock) Und.
            </dd>

            <dt>
                Peso Actual:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weight) Kg.
            </dd>

            <dt>
                Peso Mínimo:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.minPrice) Kg.
            </dd>

            <dt>
                Precio:
            </dt>

            <dd>
                s/. @Html.DisplayFor(model => model.price)
            </dd>
            <dt>
                Estado:
            </dt>

            <dd>
                @if (Model.isActive.Value)
                {
                    <span>Activo</span>
                }
                else
                {
                    <span>Inactivo</span>
                }
            </dd>

            <dt>
                Sucursal:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.branch.name)
            </dd>

        </dl>
    </div>
    <div>
        <a class="btn btn-sm btn-success my-4 mr-2 float-left" href="@Url.Action("Edit", "Supplies", new { id = Model.idSupplies })"><i class="fas fa-pencil-alt"></i> Editar insumo </a>
        <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Supplies")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/supplies/detail.js")"></script>
}
