﻿@{
    ViewBag.Title = "Edit";
}
<div id="supplyEdit" data-url="@Url.Action("EditJson", "Supplies", new { idSupplies = Model.idSupplies })">
    <h2>Editar</h2>

    @using (Html.BeginForm())
    {

        <div class="form-horizontal">
            <h4>Insumos</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="name" class="control-label col-md-2">Nombre del Insumo:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.name" />
                </div>
            </div>

            <div class="form-group">
                <label for="stock" class="control-label col-md-2">Stock Actual:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.stock" />
                </div>
            </div>

            <div class="form-group">
                <label for="minStock" class="control-label col-md-2">Stock Mínimo:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.minStock" />
                </div>
            </div>

            <div class="form-group">
                <label for="weight" class="control-label col-md-2">Peso Actual:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.weight" />
                </div>
            </div>

            <div class="form-group">
                <label for="minWeight" class="control-label col-md-2">Peso Mínimo:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.minWeight" />
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="control-label col-md-2">Precio:</label>
                <div class="col-md-10">
                    <input id="price" name="price" class="form-control form-control-sm" v-model="supplyVM.price" />
                </div>
            </div>

            <div class="form-group">
                <label for="branch" class="control-label col-md-2">Sucursal:</label>
                <div class="col-md-10">
                    <select v-model="supplyVM.idBranch" class="form-control">
                        <option v-for="branch in branchsVM" :value="branch.idBranch">{{branch.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="branch" class="control-label col-md-2">Estado del Insumo:</label>
                <div class="col-md-10">
                    <select v-model="supplyVM.isActive" class="form-control">
                        <option value="false">Inactivo</option>
                        <option value="true">Activo</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a v-on:click="save" value="Guardar" class="btn btn-success text-white"> <i class="fas fa-save"></i> Guardar</a>
                </div>
            </div>
        </div>
    }

    <div>
        <a class="btn btn-sm btn-danger my-4 float-left" href="@Url.Action("Index", "Supplies")"><i class="fas fa-arrow-left"></i> Regresar al Índice </a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/supplies/edit.js")"></script>
}
