﻿
@{
    ViewBag.Title = "Index";
}
<div id="suppliesIndex">

    <h2>Lista de insumos</h2>

    @Html.Partial("_ModalControlInsume")

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "Supplies")"><i class="fas fa-plus"></i> Crear Nuevo</a>
    <div class="container-fluid">
        <div class="row">
            <div class="text-sm-center col-sm-6">
                <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByName" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por nombre" />
            </div>
            <div class="text-sm-center col-sm-6">
                <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByBranch" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por sucursal" />
            </div>
        </div>
    </div>
    <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
        <option selected value="10">10 Registros</option>
        <option value="20">20 Registros</option>
        <option value="50">50 Registros</option>
        <option value="100">100 Registros</option>
    </select>
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Stock Actual
            </th>
            <th>
                Stock Mínimo
            </th>
            <th>
                Peso Actual
            </th>
            <th>
                Peso Mínimo
            </th>
            <th>
                Precio
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Estado
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
        <tr :class="[supplyVM.minStock > supplyVM.stock || supplyVM.minWeight > supplyVM.weight ? 'alert-danger':'']" v-for="supplyVM in list.Results">
            <td>
                {{supplyVM.name}}
            </td>
            <td>
                {{supplyVM.stock}} und.
            </td>
            <td>
                {{supplyVM.minStock}} und.
            </td>
            <td>
                {{supplyVM.weight}} kg.
            </td>
            <td>
                {{supplyVM.minWeight}} kg.
            </td>
            <td>
                s/. {{supplyVM.price}}
            </td>
            <td class="text-uppercase">
                {{supplyVM.branch.name}}
            </td>
            <td>
                <span :class="[supplyVM.isActive ? 'badge bg-success': 'badge bg-danger']">{{supplyVM.isActive == true ? 'Activo': 'Inactivo'}}</span>
            </td>
            <td class="text-center">
                <a :href="'@Url.Action("Edit", "Supplies")' + '?id='+supplyVM.idSupplies" class="btn btn-xs btn-success btn-circle text-white"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a v-if="supplyVM.isActive" v-on:click="confirmationModal(supplyVM.idSupplies)" class="btn btn-xs btn-danger btn-circle text-white"><i class="fas fa-trash" title="Desactivar"></i></a>
                <a v-else disabled class="btn btn-xs btn-danger btn-circle text-white"><i class="fas fa-trash" title="Desactivar"></i></a>
                <a :href="'@Url.Action("Details", "Supplies")' + '?id='+supplyVM.idSupplies" class="btn btn-xs btn-info btn-circle text-white"><i class="fas fa-file-alt" title="Detalle Formulario"></i></a>
                <button v-on:click="bringSupplyByID(supplyVM.idSupplies)" class="btn btn-xs btn-secondary text-white" data-toggle="modal" data-target="#modal-control-insume"><i class="fas fa-cubes" title="Detalle Formulario"></i></button>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/supplies/index.js")"></script>
}
