﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="userVue">
    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "idUser", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Registrar nuevo usuario</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">Nombre(s):</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Apellido Paterno:</label>
                        <input id="fatherLastname" name="fatherLastname" class="form-control form-control-sm" v-model="form.fatherLastName" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Apellido Materno:</label>
                        <input id="motherLastName" name="motherLastName" class="form-control form-control-sm" v-model="form.motherLastName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">DNI/CE:</label>
                        <input type="number" id="dni" name="dni" class="form-control form-control-sm" v-model="form.dni" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Contraseña</label>
                        <input id="password" name="password" class="form-control form-control-sm" v-model="form.password" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">Rol:</label>
                        <br />
                        <select id="idRole" class="custom-select custom-select-sm" v-model="form.idRole">
                            <option v-for="(state, index) in dropdowns.Role" :value="state.Value">
                                {{ state.Text }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Sucursal:</label>
                        <br />
                        <select id="idBranch" class="custom-select custom-select-sm" v-model="form.idBranch">
                            <option v-for="(state, index) in dropdowns.Branch" :value="state.Value">
                                {{ state.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="createUser">Guardar</button>
                <a href="@Url.Action("Index", "User")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/user/create.js")"></script>
}
