﻿@{
    ViewBag.Title = "Delete";
}
<div class="wrapper wrapper-content animated fadeInRight" id="userVue" data-url="@Url.Action("EditJson", "User", new { idUser = Model.idUser })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteUser">Desactivar usuario</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/user/edit.js")"></script>
}