﻿@{
    ViewBag.Title = "Detail";
}
<div class="wrapper wrapper-content animated fadeInRight" id="userVue" data-url="@Url.Action("EditJson", "User", new { idUser = Model.idUser })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <a href="@Url.Action("Index", "User")" class="btn btn-warning">Atrás</a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/user/edit.js")"></script>
}