﻿@{
    ViewBag.Title = "Index";
}
<div id="userVue">
    <h2>Lista de usuarios</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "user")"><i class="fas fa-plus"></i> Crear Nuevo</a>

    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Usuario
            </th>
            <th>
                DNI/CE
            </th>
            <th>
                Rol
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Estado
            </th>
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.name }} {{ reg.fatherLastName }} {{ reg.motherLastName }}
            </td>
            <td>
                {{ reg.dni }}
            </td>
            <td>
                {{ reg.Role.name }}
            </td>
            <td>
                {{ reg.Branch.name }}
            </td>
            <td>
                <p class="badge badge-primary" v-if="reg.isActive">Activo</p>
                <p class="badge badge-danger" v-else>Inactivo</p>
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "User")' + '?idUser='+reg.idUser" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a :href="'@Url.Action("Detail", "User")' + '?idUser='+reg.idUser" class="btn btn-xs btn-info btn-circle"><i class="fas fa-file-alt" title="Detalle Formulario"></i></a>
                <a :href="'@Url.Action("Delete", "User")' + '?idUser='+reg.idUser" class="btn btn-xs btn-danger btn-circle"><i class="fas fa-trash" title="Desactivar"></i></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/user/index.js")"></script>
}