﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="serviceTypeVue">
    @using (Html.BeginForm("Create", "ServiceType", FormMethod.Post, new { id = "idServiceType", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Registrar nuevo tipo de servicio</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Nombre del tipo de servicio:</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="PaxCab">Hora Inicio:</label>
                        <datetime type="time" v-model="form.startTime"></datetime>
                    </div>
                    <div class="col-md-6">
                        <label for="PaxCab">Hora Fin:</label>
                        <datetime type="time" v-model="form.endTime"></datetime>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Precio (S/. ):</label>
                        <input type="number" id="price" name="price" class="form-control form-control-sm" v-model="form.price" />
                    </div>
                </div>
                <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="createServiceType">Guardar</button>
                <a href="@Url.Action("Index", "ServiceType")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/serviceType/create.js")"></script>
}