﻿@{
    ViewBag.Title = "Index";
}
<div id="serviceTypeVue">
    <h2>Lista de tipos de servicio</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "serviceType")"><i class="fas fa-plus"></i> Crear Nuevo</a>

    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Nombre del servicio
            </th>
            <th>
                Precio (S/. )
            </th>
            <th>
                Hora de Inicio
            </th>
            <th>
                Hora de Fin
            </th>
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.name }}
            </td>
            <td>
                {{ reg.price }}
            </td>
            <td>
                {{ reg.startTime}}
            </td>
            <td>
                {{ reg.endTime}}
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "ServiceType")' + '?idServiceType='+reg.idServiceType" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                @*@Html.ActionLink("Edit", "Edit", new { id = reg.idOrganization }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idProduct })*@
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/serviceType/index.js")"></script>
}