﻿@{
    ViewBag.Title = "Reporte Ventas";
}

@Html.AntiForgeryToken()

<h2>Reporte Ventas Clásicas:</h2>
<div id="productReport">
    <div class="row">
        <div class="col-md-12 m-auto my-4">
            <div class="col-md-3">
                <label for="beginDate">Fecha Inicial:</label>
                <input id="beginDate" class="form-control p-2" v-model="startDateInput" placeholder="Fecha Inicio" hidden />
                <datepicker :language="es" id="calendar1" :minimum-view="'day'" :input-class="['form-control']" v-on:selected="changeStartDate"></datepicker>
            </div>
            <div class="col-md-3">
                <label for="endDate">Fecha Final:</label>
                <input id="endDate" class="form-control" v-model="endDateInput" placeholder="Fecha Fin" name="" hidden />
                <datepicker :language="es" id="calendar2" :minimum-view="'day'" :input-class="['form-control']" v-on:selected="changeEndDate"></datepicker>
            </div>
            <div class="col-md-3">
                <label for="pointService">Punto de Servicio:</label>
                <select id="pointService" class="form-control" v-model="idPos" v-on:change="filterSales">
                    <option value="0">Todos</option>
                    <option v-for="pos in listPos" :value="pos.idPos">{{pos.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-center mt-4 mb-4">
    </div>

    <h3>Listado de Empleados:</h3>
    <hr />
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    Fecha de la venta
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Unidad de Trabajo
                </th>
                <th>
                    Pago a cuenta
                </th>
                <th>
                    Precio Total
                </th>
            </tr>
            <tr v-for="saleVM in employSales">
                <td class="text-capitalize">
                    {{saleVM.createdAt}}
                </td>
                <td>
                    {{saleVM.customer.name}}
                    {{saleVM.customer.fatherLastname}}
                </td>
                <td>
                    {{saleVM.customer.WorkUnit.name}}
                </td>
                <td>
                    s/. {{saleVM.accountPayment}}
                </td>
                <td>
                    s/. {{saleVM.totalPrice}}
                </td>
            </tr>
            <tr v-if="totalAccountPaymentEmploy > 0">
                <th colspan="4" class="text-right">
                    Pago a cuenta total
                </th>
                <td>
                    s/. {{totalAccountPaymentEmploy}}
                </td>
            </tr>
            <tr v-if="totalPriceEmploy > 0">
                <th colspan="4" class="text-right">
                    Precio total
                </th>
                <td>
                    s/. {{totalPriceEmploy}}
                </td>
            </tr>
            <tr v-if="employSales.length <= 0" class="text-center">
                <td colspan="5">Sin registros ... !!!</td>
            </tr>
        </table>
    </div>


    <h3>Listado de Operarios:</h3>
    <hr />
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    Fecha de la venta
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Unidad de Trabajo
                </th>
                <th>
                    Pago a cuenta
                </th>
                <th>
                    Precio Total
                </th>
            </tr>
            <tr v-for="saleVM in workerSales">
                <td class="text-capitalize">
                    {{saleVM.createdAt}}
                </td>
                <td>
                    {{saleVM.customer.name}}
                    {{saleVM.customer.fatherLastname}}
                </td>
                <td>
                    {{saleVM.customer.WorkUnit.name}}
                </td>
                <td>
                    s/. {{saleVM.accountPayment}}
                </td>
                <td>
                    s/. {{saleVM.totalPrice}}
                </td>
            </tr>
            <tr v-if="totalAccountPaymentWorker.length > 0">
                <th colspan="4" class="text-right">
                    Pago a cuenta total
                </th>
                <td>
                    s/. {{totalPriceWorker}}
                </td>
            </tr>
            <tr v-if="totalAccountPaymentWorker > 0">
                <th colspan="4" class="text-right">
                    Precio total
                </th>
                <td>
                    s/. {{totalPriceWorker}}
                </td>
            </tr>
            <tr v-if="employSales.length != 0 || workerSales.length != 0" class="text-right mt-4">
                <td colspan="5">
                    <a class="btn btn-primary btn-sm" :href="'@Url.Action("DownLoadClassicExcel", "Reports")?startDate=' + startDate+'&endDate='+endDate+'&idPos='+idPos+'&idServiceType='+idServiceType"><i class="fa fa-download"></i> Descargar Reporte</a>
                </td>
            </tr>
            <tr v-else class="text-center">
                <td colspan="5">Sin registros ... !!!</td>
            </tr>
        </table>
        <div v-if="employSales.length != 0 || workerSales.length != 0 " class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-12 mb-2">
                    <label for="correo">Correo destino:</label>
                    <input id="correo" class="form-control" v-model="emailToDestiny" />
                </div>
                <div class="col-md-12 mb-2">
                    <label for="asunto">Asunto:</label>
                    <input id="asunto" class="form-control" v-model="subject" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <button class="btn btn-success btn-sm" v-on:click="sendReportToEmail"><i class="fa fa-mail-bulk"></i> Enviar Reporte</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 mb-2">
                    <label for="name">Dirigido a:</label>
                    <input id="name" class="form-control" v-model="Mr" />
                </div>
                <div class="col-md-12 mb-2">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" class="form-control" v-model="message"></textarea>
                </div>
            </div>
        </div>
        <div class="container col-md-6 mt-4 mb-4">
            <h4>Correos enviados:</h4>
            <hr />
            <label v-for="(email, index) in emailsSent"> {{index + 1}}:  Dirigido a <b>{{email.Mr}}</b> através del correo <b>{{email.emailToDestiny}}</b>, con asunto <b>{{email.subject}}</b> y mensaje: <b>{{email.message}}</b>.</label>
        </div>

    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/dist/js/report/products.js")"></script>
}
