﻿@{
    ViewBag.Title = "Reporte Ventas";
}

@Html.AntiForgeryToken()

<h2>Reporte Ventas Rápidas:</h2>
<div id="saleReport">
    <div class="row">
        <div class="col-md-2">
            <label for="beginDate">Fecha Inicial:</label>
            <input id="beginDate" class="form-control p-2" v-model="startDateInput" placeholder="Fecha Inicio" hidden />
            <datepicker :language="es" id="calendar1" :minimum-view="'day'" :input-class="['form-control']" v-on:selected="changeStartDate"></datepicker>
        </div>
        <div class="col-md-2">
            <label for="endDate">Fecha Final:</label>
            <input id="endDate" class="form-control" v-model="endDateInput" placeholder="Fecha Fin" name="" hidden />
            <datepicker :language="es" id="calendar2" :minimum-view="'day'" :input-class="['form-control']" v-on:selected="changeEndDate"></datepicker>
        </div>
        <div class="col-md-2">
            <label for="pointService">Punto de Servicio:</label>
            <select id="pointService" class="form-control" v-model="idPos" v-on:change="filterSales(paginatorList=1, paginatorListW=1)">
                <option value="0">Todos</option>
                <option v-for="pos in listPos" :value="pos.idPos">{{pos.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="pointService">Servicio:</label>
            <select id="pointService" class="form-control" v-model="idServiceType" v-on:change="filterSales(paginatorList=1, paginatorListW=1)">
                <option value="0">Todos</option>
                <option v-for="serviceType in listServiceType" :value="serviceType.idServiceType">{{serviceType.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="pointService">Unidad de Trabajo:</label>
            <select id="pointService" class="form-control" v-model="idWorkUnit" v-on:change="filterSales(paginatorList=1, paginatorListW=1)">
                <option value="0">Todos</option>
                <option v-for="workUnit in listWorkUnits" :value="workUnit.idWorkUnit">{{workUnit.name}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="pointService">Empresa del Cliente:</label>
            <div v-for="(company, index) in listCompanies" class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" :id="company.idCompany" v-on:change="filterSales(1, 1)" v-model="company.stateToFilter">
                <label class="custom-control-label" :for="company.idCompany">{{company.name}}</label>
            </div>
        </div>
    </div>
    <div class="text-center mt-4 mb-4">
    </div>
    <h3>Listado de Empleados:</h3>
    <br />
    <div class="text-sm-left col-sm-2 mb-4">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="filterSales(paginatorList=1, paginatorListw=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="thead-dark">
                    <th>
                        Fecha de la venta
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Empresa Cliente
                    </th>
                    <th>
                        Unidad de Trabajo
                    </th>
                    <th>
                        Pago a cuenta
                    </th>
                    <th>
                        Precio Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="saleVM in list.Results">
                    <td class="text-capitalize">
                        {{saleVM.createdAt}}
                    </td>
                    <td class="text-uppercase">
                        {{saleVM.serviceType.name}}
                    </td>
                    <td>
                        {{saleVM.customer.name}}
                        {{saleVM.customer.fatherLastname}}
                        {{saleVM.customer.motherLastname}}
                    </td>
                    <td>
                        {{saleVM.customer.Company.name}}
                    </td>
                    <td>
                        {{saleVM.customer.WorkUnit.name}}
                    </td>
                    <td>
                        s/. {{saleVM.accountPayment}}
                    </td>
                    <td>
                        s/. {{saleVM.totalPrice}}
                    </td>
                </tr>
                <tr v-if="totalAccountPaymentEmploy > 0">
                    <th colspan="6" class="text-right">
                        Pago a cuenta total
                    </th>
                    <td>
                        s/. {{totalAccountPaymentEmploy}}
                    </td>
                </tr>
                <tr v-if="totalPriceEmploy > 0">
                    <th colspan="6" class="text-right">
                        Precio total
                    </th>
                    <td>
                        s/. {{totalPriceEmploy}}
                    </td>
                </tr>
                <tr v-if="totalPriceEmploy > 0">
                    <th colspan="6" class="text-right">
                        Total Registros
                    </th>
                    <td>

                        {{list.TotalRow}}
                    </td>
                </tr>
                <tr v-if="workerSales.length <= 0" class="text-center">
                    <td colspan="7">Sin registros ... !!!</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <vue-pagination class="pagination justify-content-end"
                            v-model="paginatorList"
                            :total="list.PageCount == 0 ? 1 : list.PageCount">

            </vue-pagination>
        </nav>
    </div>


    <h3>Listado de Operarios:</h3>
    <br />
    <div class="text-sm-left col-sm-2 mb-4">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeListW" v-on:change="filterSales(paginatorList=1, paginatorListW=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">

                <tr>
                    <th>
                        Fecha de la venta
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Empresa Cliente
                    </th>
                    <th>
                        Unidad de Trabajo
                    </th>
                    <th>
                        Pago a cuenta
                    </th>
                    <th>
                        Precio Total
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr v-for="saleVM in listW.ResultsW">
                    <td class="text-capitalize">
                        {{saleVM.createdAt}}
                    </td>
                    <td class="text-uppercase">
                        {{saleVM.serviceType.name}}
                    </td>
                    <td>
                        {{saleVM.customer.name}}
                        {{saleVM.customer.fatherLastname}}
                        {{saleVM.customer.motherLastname}}
                    </td>
                    <td>
                        {{saleVM.customer.Company.name}}
                    </td>
                    <td>
                        {{saleVM.customer.WorkUnit.name}}
                    </td>
                    <td>
                        s/. {{saleVM.accountPayment}}
                    </td>
                    <td>
                        s/. {{saleVM.totalPrice}}
                    </td>
                </tr>
                <tr v-if="totalAccountPaymentWorker > 0">
                    <th colspan="6" class="text-right">
                        Pago a cuenta total
                    </th>
                    <td>
                        s/. {{totalPriceWorker}}
                    </td>
                </tr>
                <tr v-if="totalAccountPaymentWorker > 0">
                    <th colspan="6" class="text-right">
                        Precio total
                    </th>
                    <td>
                        s/. {{totalPriceWorker}}
                    </td>
                </tr>
                <tr v-if="totalAccountPaymentWorker > 0">
                    <th colspan="6" class="text-right">
                        Total Registros
                    </th>
                    <td>
                        {{listW.TotalRowW}}
                    </td>
                </tr>
                <tr v-if="employSales.length != 0 || workerSales.length != 0" class="text-right mt-4">
                    <td colspan="7">
                        <a :href="'mailto:luisrosasosores14@outlook.es;?subject=Envío de reporte de fecha ' + startDateInput + ' al ' + endDateInput" class="btn btn-success btn-sm"><i class="fa fa-mail-bulk"></i> Enviar Reporte</a>
                        <a class="btn btn-primary btn-sm text-white" v-on:click="downloadFile"><i class="fa fa-download"></i> Descargar Reporte</a>
                    </td>
                </tr>
                <tr v-else class="text-center">
                    <td colspan="7">Sin registros ... !!!</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <vue-pagination class="pagination justify-content-end"
                            v-model="paginatorListW"
                            :total="listW.PageCountW == 0 ? 1 : listW.PageCountW">

            </vue-pagination>
        </nav>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/dist/js/report/sales.js")"></script>
}
