<template>
    <div class="table-responsive-lg">
        <div class="input-field col s12 text-center">
            <i class="fa fa-search"></i>
            <label for="filter">Filtro: </label>
            <input placeholder="Buscar producto" v-model="filterText" id="filter" type="text"
                   class="form-control" style="margin:auto; margin-bottom:10px; width:95%;">
        </div>
        <div class="highlight">
            <table v-bind:class="tableClass">
                <tbody>
                    <tr class="light-blue lighten-5">
                        <th v-for="columnName in columnNames">
                            {{ columnName }}
                        </th>
                    </tr>

                    <tr v-for="(row, index) in paginateData(SearchProd)[currentPage]" data-toggle="tooltip"
                        v-bind:title="row[0].data"
                        v-bind:data-original-title="row[0].data ">
                        <td v-for="(column, index) in row" v-if="column.type!= 'hidden'">
                            <div v-if="column.type== 'text'" style="min-width: 40px; max-width: 120px; margin-top: 12px;"
                                 class="text-center">
                                {{column.data}}
                            </div>
                            <div style="min-width: 40px; max-width: 60px;" v-else-if="column.type === 'input'">
                                <input class="form-control form-control-xs" min="0" v-bind:po="index" v-bind:id="column.id"
                                       v-bind:value="column.data" v-on="inputListeners" type="number" />
                            </div>
                            <div v-else>
                                <button v-bind:id="column.id" v-bind:po="column.po" v-bind:class="column.class"
                                        v-on="inputListeners" v-html="column.data"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="pagesNumber > 0">
            <ul :class="['pagination', 'mt-3', 'justify-content-center']">
                <li :class="['page-item',{'disabled':currentPage===0}]">
                    <a class="page-link" @click="changePage(currentPage - 1)" aria-label="Previous"> < </a>
                </li>
                <li v-for="number in pagesNumber" :class="['page-item', {'active' : currentPage===number-1}]">
                    <a v-if="pagesNumber<9" class="page-link" @click="selectPage(number)">
                        {{ number }}
                    </a>
                </li>

                <li :class="['page-item', {'disabled':currentPage+1===pagesNumber}]">
                    <a class="page-link" @click="changePage(currentPage + 1)" aria-label="Next"> > </a>
                </li>
            </ul>
            <div class="text-center mb-2">
                <span>{{ currentPage+1 }} de {{ pagesNumber }} páginas</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TableComponent",
        props: {
            columnNames: Array,
            dataRow: Array,
            filterKey: String,
            tableClass: String,
            paginate: String,
        },
        data: function () {
            var currentPage = 0;
            var filterText = "";
            var sortOrders = {};
            this.dataRow.forEach(function (key) {
                sortOrders[key] = 1
            });
            return {
                filterText,
                currentPage,
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        computed: {
            // Computed Properties Pagination {
            pagesNumber: function () {
                if (this.paginate !== undefined) {
                    if (this.SearchProd !== undefined) {
                        var art_x_pag = this.paginate;
                        var total_art_db = this.SearchProd.length;
                        var pagesNumber = Math.ceil(total_art_db / art_x_pag);
                        return pagesNumber;
                    }
                }
            },
            // End Computed }
            columnNamesLength: function () {
                if (this.columnNames.length > 0) {
                    return this.columnNames.length - 3;
                }
            },
            SearchProd: function () {
                if (this.filterText === undefined) {
                    return this.dataRow;
                } else {
                    try {
                        let searchArray1 = this.dataRow.filter(row => row[0]['data'].toLowerCase().includes(this.filterText.toLowerCase()));
                        let searchArray2 = this.dataRow.filter(row => row[1]['data'].toLowerCase().includes(this.filterText.toLowerCase()));
                        let searchArray3 = this.JoinAll(searchArray1, searchArray2);
                        this.currentPage = 0;
                        return searchArray3;
                    } catch (e) { }
                }
            },
            inputListeners: function () {
                var vm = this
                return Object.assign({},
                    this.$listeners,
                    {
                        input: function (event) {
                            vm.$emit('input', event.target.value)
                        },
                        button: function (event) {
                            vm.$emit('button', event.target.value)
                        }
                    }
                )
            },
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            JoinAll(Array1, Array2) {
                var Array3 = [];
                for (let i = 0; i < Array1.length; i++) {
                    Array3.push(Array1[i]);
                }
                for (let i = 0; i < Array2.length; i++) {
                    Array3.push(Array2[i]);
                }
                Array.prototype.unique = function (a) {
                    return function () {
                        return this.filter(a)
                    }
                }(
                    function (a, b, c) {
                        return c.indexOf(a, b + 1) < 0
                    });
                return Array3.unique();
            },
            //Methods of Pagination {
            paginateData: function (data) {
                var dataPaginate = [];
                let intervale = this.paginate;
                let i = 0;
                for (let a = 0; a < this.pagesNumber; a++) {
                    var dataArray = [];
                    for (i; i < intervale; i++) {
                        if (data[i]) {
                            dataArray.push(data[i]);
                        }
                    }
                    intervale = parseInt(intervale) + parseInt(this.paginate);
                    dataPaginate.push(dataArray);
                }
                return dataPaginate;
            },
            changePage: function (newCurrentPage) {
                this.currentPage = newCurrentPage;
            },
            selectPage: function (key) {
                this.currentPage = key - 1;
            },
            // End  }
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    }
</script>

<style scoped>
</style>
