﻿<div class="card bg-white">
    <div class="card-header bg-white pb-0">
        <h5 class="card-title pt-1 text-center">Producto</h5>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Nombre:</label>
                <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Precio:</label>
                <input id="price" name="price" class="form-control form-control-sm" v-model="form.price" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Precio otorgado:</label>
                <input id="grantedPrice" name="grantedPrice" class="form-control form-control-sm" v-model="form.grantedPrice" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">¿Producto con stock?</label>
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-if="form.withStock == 1" value="Si" disabled />
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-else value="No" disabled />
            </div>
            <div class="col-md-4">
                <label for="PaxCab">Stock:</label>
                <input id="currentStock" name="currentStock" class="form-control form-control-sm" v-model="form.currentStock" disabled />
            </div>
            <div class="col-md-4">
                <label for="PaxCab">Stock mínimo:</label>
                <input id="minimunStock" name="minimunStock" class="form-control form-control-sm" v-model="form.minimunStock" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Tipo de servicio:</label>
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-model="form.ServiceType.name" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Sucursal:</label>
                <input id="Branch" name="Branch" class="form-control form-control-sm" v-model="form.Branch.name" disabled />
            </div>
        </div>
    </div>
    <br />
</div>