﻿@{
    ViewBag.Title = "Detail";
}
<div class="wrapper wrapper-content animated fadeInRight" id="productVue" data-url="@Url.Action("EditJson", "Products", new { idProduct = Model.idProduct })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteProduct">Desactivar producto</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/product/edit.js")"></script>
}