﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="productVue" data-url="@Url.Action("EditJson", "Products", new { idProduct = Model.idProduct })">
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Editar producto</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Nombre:</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Precio (S/. ):</label>
                    <input type="number" id="price" name="price" class="form-control form-control-sm" v-model="form.price" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Precio subvencionado (S/. ):</label>
                    <input type="number" id="grantedPrice" name="grantedPrice" class="form-control form-control-sm" v-model="form.grantedPrice" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">¿Producto con stock?</label>
                    <select id="withStock" class="custom-select custom-select-sm" v-on:change="resetStock(form.withStock)" v-model="form.withStock">
                        <option selected value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Stock (Und. ):</label>
                    <input v-if="form.withStock == 1" type="number" id="currentStock" name="currentStock" class="form-control form-control-sm" v-model="form.currentStock" />
                    <input v-else type="number" id="currentStock" name="currentStock" class="form-control form-control-sm" v-model="form.currentStock" disabled />
                </div>
                <div class="col-md-4">
                    <label for="PaxCab">Stock mínimo (Und. ):</label>
                    <input v-if="form.withStock == 1" type="number" id="minimunStock" name="minimunStock" class="form-control form-control-sm" v-model="form.minimunStock" />
                    <input v-else type="number" id="minimunStock" name="minimunStock" class="form-control form-control-sm" v-model="form.minimunStock" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Tipo de servicio:</label>
                    <select id="idServiceType" class="custom-select custom-select-sm" v-model="form.idServiceType">
                        <option v-for="(state, index) in dropdowns.ServiceType" :value="state.Value">
                            {{ state.Text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Sucursal:</label>
                    <br />
                    <select id="idBranch" class="custom-select custom-select-sm" v-model="form.idBranch">
                        <option v-for="(state, index) in dropdowns.Branch" :value="state.Value">
                            {{ state.Text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="PaxCab">Estado:</label>
                    <br />
                    <input v-if="!form.isActive" type="radio" name="State" id="Activo" value="true" v-model="form.isActive">
                    <input v-else type="radio" name="State" id="Activo" value="true" v-model="form.isActive" disabled>
                    <label for="Activo"><span></span>Activo</label>

                    <input v-if="!form.isActive" type="radio" name="State" id="Inactivo" value="false" v-model="form.isActive">
                    <input v-else type="radio" name="State" id="Inactivo" value="false" v-model="form.isActive" disabled>
                    <label for="Inactivo"><span></span>Inactivo</label>
                </div>
            </div>
            <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
        </div>
        <br />
        <div class="w-100 text-center mb-4">
            <button type="button" class="btn btn-primary" v-on:click="editProduct">Guardar</button>
            <a href="@Url.Action("Index", "Products")" class="btn btn-danger">Atrás</a>
        </div>
    </div>

</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/product/edit.js")"></script>
}