﻿@model IEnumerable<SisCom.Models.product>

@{
    ViewBag.Title = "Index";
}
<div id="productVue">
    <h2>Lista de productos</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "products")"><i class="fas fa-plus"></i> Crear Nuevo</a>
    <div class="container-fluid">
        <div class="row">
            <div class="text-sm-center col-sm-6">
                <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByName" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por nombre" />
            </div>
            <div class="text-sm-center col-sm-6">
                <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByServiceType" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por tipo de servicio" />
            </div>
        </div>
    </div>
    
    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Precio otorgado
            </th>
            <th>
                Tipo de servicio
            </th>
            <th>
                ¿Con stock?
            </th>
            <th>
                Stock
            </th>
            <th>
                Stock mínimo
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Estado
            </th>
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.name }}
            </td>
            <td>
                {{ reg.price }}
            </td>
            <td>
                {{ reg.grantedPrice }}
            </td>
            <td>
                {{ reg.ServiceType.name }}
            </td>
            <td>
                <p v-if="reg.withStock == 1">Si</p>
                <p v-else>No</p>
            </td>
            <td>
                <p style="color:red" v-if="reg.currentStock <= reg.minimunStock">{{ reg.currentStock }}</p>
                <p style="color:blue" v-else>{{ reg.currentStock }}</p>
            </td>
            <td>
                {{ reg.minimunStock }}
            </td>
            <td>
                {{ reg.Branch.name }}
            </td>
            <td>
                <p class="badge badge-primary" v-if="reg.isActive">Activo</p>
                <p class="badge badge-danger" v-else>Inactivo</p>
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "Products")' + '?idProduct='+reg.idProduct" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a :href="'@Url.Action("Details", "Products")' + '?idProduct='+reg.idProduct" class="btn btn-xs btn-info btn-circle"><i class="fas fa-file-alt" title="Detalle Formulario"></i></a>
                <a :href="'@Url.Action("Delete", "Products")' + '?idProduct='+reg.idProduct" class="btn btn-xs btn-danger btn-circle"><i class="fas fa-trash" title="Desactivar"></i></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
    @section Scripts {
        <script src="@Url.Content("~/dist/js/product/index.js")"></script>
    }
