﻿<div class="card bg-white">
    <div class="card-header bg-white pb-0">
        <h5 class="card-title pt-1 text-center">Cliente</h5>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">Nombre(s):</label>
                <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" disabled/>
            </div>
            <div class="col-md-4">
                <label for="PaxCab">Apellido Paterno:</label>
                <input id="fatherLastname" name="fatherLastname" class="form-control form-control-sm" v-model="form.fatherLastname" disabled />
            </div>
            <div class="col-md-4">
                <label for="PaxCab">Apellido Materno:</label>
                <input id="motherLastname" name="motherLastname" class="form-control form-control-sm" v-model="form.motherLastname" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="PaxCab">DNI/CE:</label>
                <input id="dni" name="dni" class="form-control form-control-sm" v-model="form.dni" disabled />
            </div>
            <div class="col-md-4">
                <label for="PaxCab">¿Tiene subvención?</label>
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-if="form.hasGrant" value ="Si" disabled />
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-else value ="No" disabled />
            </div>
            <div class="col-md-4">
                <label for="PaxCab">Unidad de trabajo:</label>
                <input id="WorkUnit" name="WorkUnit" class="form-control form-control-sm" v-model="form.WorkUnit.name" disabled />
            </div>
        </div>
    </div>
</div>