﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="customerVue">
    @using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { id = "idCustomer", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Registrar nuevo cliente</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">Nombre(s):</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Apellido Paterno:</label>
                        <input id="fatherLastname" name="fatherLastname" class="form-control form-control-sm" v-model="form.fatherLastname" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Apellido Materno:</label>
                        <input id="motherLastname" name="motherLastname" class="form-control form-control-sm" v-model="form.motherLastname" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">DNI/CE:</label>
                        <input type="number" id="dni" name="dni" class="form-control form-control-sm" v-model="form.dni" />
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">¿Tiene subvención?</label>
                        <select id="hasGrant" class="custom-select custom-select-sm" v-model="form.hasGrant">
                            <option selected value="false">No</option>
                            <option value="true">Si</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="PaxCab">Unidad de trabajo:</label>
                        <select id="idWorkUnit" class="custom-select custom-select-sm" v-model="form.idWorkUnit">
                            <option v-for="(state, index) in dropdowns.WorkUnit" :value="state.Value">
                                {{ state.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="PaxCab">Empresa:</label>
                        <br />
                        <select id="idCompany" class="custom-select custom-select-sm" v-model="form.idCompany">
                            <option v-for="(state, index) in dropdowns.Company" :value="state.Value">
                                {{ state.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="createCustomer">Guardar</button>
                <a href="@Url.Action("Index", "Customers")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/customer/create.js")"></script>
}
