﻿@{
    ViewBag.Title = "Delete";
}
<div class="wrapper wrapper-content animated fadeInRight" id="customerVue" data-url="@Url.Action("EditJson", "Customers", new { idCustomer = Model.idCustomer })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteCustomer">Desactivar cliente</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/customer/edit.js")"></script>
}