﻿@{
    ViewBag.Title = "Detail";
}
<div class="wrapper wrapper-content animated fadeInRight" id="customerVue" data-url="@Url.Action("EditJson", "Customers", new { idCustomer = Model.idCustomer })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <a href="@Url.Action("Index", "Customers")" class="btn btn-warning">Atrás</a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/customer/edit.js")"></script>
}