﻿@{
    ViewBag.Title = "Index";
}
<div id="customerVue">
    <h2>Lista de clientes</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "customers")"><i class="fas fa-plus"></i> Crear Nuevo</a>
    <div class="row">
        <div class="text-sm-center col-sm-4">
            <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByName" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por Nombres o Apellidos" />
        </div>
        <div class="text-sm-center col-sm-4">
            <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByDNI" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por DNI" />
        </div>
        <div class="text-sm-center col-sm-4">
            <input class="form-control form-control-sm" style="border-radius: 5px 5px" v-model="FilterByCompany" v-on:keyup.enter="initTables(paginatorList=1)" type="text" placeholder="Buscar por Compañia" />
        </div>
    </div>
    <br/>
    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Cliente
            </th>
            <th>
                DNI/CE
            </th>
            <th>
                Unidad de trabajo
            </th>
            <th>
                Empresa
            </th>
            <th>
                ¿Tiene subvención?
            </th>
            <th>
                Estado
            </th>
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.name }} {{ reg.fatherLastname }} {{ reg.motherLastname }}
            </td>
            <td>
                {{ reg.dni}}
            </td>
            <td>
                {{ reg.WorkUnit.name }}
            </td>
            <td>
                {{ reg.Company.name }}
            </td>
            <td>
                <p v-if="reg.hasGrant">Sí</p>
                <p v-else>No</p>
            </td>
            <td>
                <p class="badge badge-primary" v-if="reg.isActive">Activo</p>
                <p class="badge badge-danger" v-else>Inactivo</p>
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "Customers")' + '?idCustomer='+reg.idCustomer" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a :href="'@Url.Action("Detail", "Customers")' + '?idCustomer='+reg.idCustomer" class="btn btn-xs btn-info btn-circle"><i class="fas fa-file-alt" title="Detalle Formulario"></i></a>
                <a :href="'@Url.Action("Delete", "Customers")' + '?idCustomer='+reg.idCustomer" class="btn btn-xs btn-danger btn-circle"><i class="fas fa-trash" title="Desactivar"></i></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/customer/index.js")"></script>
}