﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="branchVue">
    @using (Html.BeginForm("Create", "Branch", FormMethod.Post, new { id = "idBranch", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Registrar nueva sucursal</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Nombre:</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                </div>
            </div>
            <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
        </div>
        <br />
        <div class="w-100 text-center mb-4">
            <button type="button" class="btn btn-primary" v-on:click="createBranch">Guardar</button>
            <a href="@Url.Action("Index", "Branch")" class="btn btn-danger">Atrás</a>
        </div>
    </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/branch/create.js")"></script>
}
