﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="branchVue" data-url="@Url.Action("EditJson", "Branch", new { idBranch = Model.idBranch })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deleteBranch">Desactivar sucursal</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/branch/edit.js")"></script>
}