﻿@{
    ViewBag.Title = "Edit";
}
<div class="wrapper wrapper-content animated fadeInRight" id="branchVue" data-url="@Url.Action("EditJson", "Branch", new { idBranch = Model.idBranch })">
    <div class="card bg-white">
        <div class="card-header bg-white pb-0">
            <h5 class="card-title pt-1 text-center">Editar sucursal</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="PaxCab">Nombre:</label>
                    <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                </div>
                <div class="pt-3 col-md-12">
                    <label for="PaxCab">Estado:</label>
                    <br />
                    <input v-if="!form.isActive" type="radio" name="State" id="Activo" value="true" v-model="form.isActive" >
                    <input v-else type="radio" name="State" id="Activo" value="true" v-model="form.isActive" disabled>
                    <label for="Activo"><span></span>Activo</label>

                    <input v-if="!form.isActive" type="radio" name="State" id="Inactivo" value="false" v-model="form.isActive" >
                    <input v-else type="radio" name="State" id="Inactivo" value="false" v-model="form.isActive" disabled>
                    <label for="Inactivo"><span></span>Inactivo</label>
                </div>
            </div>

            <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
        </div>
        <br />
        <div class="w-100 text-center mb-4">
            <button type="button" class="btn btn-primary" v-on:click="editBranch">Guardar</button>
            <a href="@Url.Action("Index", "Branch")" class="btn btn-danger">Atrás</a>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/branch/edit.js")"></script>
}