﻿@{
    ViewBag.Title = "Create";
}
<div class="wrapper wrapper-content animated fadeInRight" id="posVue">
    @using (Html.BeginForm("Create", "Pos", FormMethod.Post, new { id = "idPos", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card bg-white">
            <div class="card-header bg-white pb-0">
                <h5 class="card-title pt-1 text-center">Registrar nuevo punto de servicio</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Nombre:</label>
                        <input id="name" name="name" class="form-control form-control-sm" v-model="form.name" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="PaxCab">Usuario responsable:</label>
                        <br />
                        <select id="idUser" class="custom-select custom-select-sm" v-model="form.idUser">
                            <option v-for="(state, index) in dropdowns.User" :value="state.Value">
                                {{ state.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <b class="text-danger" v-if="msjError != undefined">{{ msjError }}</b>
            </div>
            <br />
            <div class="w-100 text-center mb-4">
                <button type="button" class="btn btn-primary" v-on:click="createPos">Guardar</button>
                <a href="@Url.Action("Index", "Pos")" class="btn btn-danger">Atrás</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/pos/create.js")"></script>
}
