﻿@{
    ViewBag.Title = "Delete";
}
<div class="wrapper wrapper-content animated fadeInRight" id="posVue" data-url="@Url.Action("EditJson", "Pos", new { idPos = Model.idPos })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <button class="btn btn-sm btn-danger" v-on:click="deletePos">Desactivar punto de servicio</button>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/pos/edit.js")"></script>
}