﻿@{
    ViewBag.Title = "Detail";
}
<div class="wrapper wrapper-content animated fadeInRight" id="posVue" data-url="@Url.Action("EditJson", "Pos", new { idPos = Model.idPos })">
    @Html.Partial("_Detail")
    <br />
    <div class="row justify-content-center">
        <a href="@Url.Action("Index", "Pos")" class="btn btn-warning">Atrás</a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/pos/edit.js")"></script>
}