﻿@{
    ViewBag.Title = "Index";
}
<div id="posVue">
    <h2>Lista de puntos de servicio</h2>

    <a class="btn btn-sm btn-success my-4 float-right" href="@Url.Action("Create", "pos")"><i class="fas fa-plus"></i> Crear Nuevo</a>

    <div class="text-sm-left col-sm-2">
        <p id="t1" class="card-title float-left pt-1">N° de Registros:</p>
        <select class="custom-select custom-select-sm" v-model="PageSizeList" v-on:change="initTables(paginatorList=1)">
            <option selected value="10">10 Registros</option>
            <option value="20">20 Registros</option>
            <option value="50">50 Registros</option>
            <option value="100">100 Registros</option>
        </select>
    </div>
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Usuario responsable
            </th>
            <th>
                Estado
            </th>
            <th>
                Opciones
            </th>
        </tr>

        <tr v-for="reg in list.Results">
            <td>
                {{ reg.name }}
            </td>
            <td>
                {{ reg.User.fatherLastName }} {{ reg.User.motherLastName }}, {{ reg.User.name }}
            </td>
            <td>
                <p class="badge badge-primary" v-if="reg.isActive">Activo</p>
                <p class="badge badge-danger" v-else>Inactivo</p>
            </td>
            <td>
                <a :href="'@Url.Action("Edit", "Pos")' + '?idPos='+reg.idPos" class="btn btn-xs btn-primary btn-circle"><i class="fas fa-pencil-alt" title="Editar Formulario"></i></a>
                <a :href="'@Url.Action("Detail", "Pos")' + '?idPos='+reg.idPos" class="btn btn-xs btn-info btn-circle"><i class="fas fa-file-alt" title="Detalle Formulario"></i></a>
                <a :href="'@Url.Action("Delete", "Pos")' + '?idPos='+reg.idPos" class="btn btn-xs btn-danger btn-circle"><i class="fas fa-trash" title="Desactivar"></i></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <vue-pagination class="pagination justify-content-end"
                        v-model="paginatorList"
                        :total="list.PageCount == 0 ? 1 : list.PageCount"></vue-pagination>
    </nav>
</div>
@section Scripts {
    <script src="@Url.Content("~/dist/js/pos/index.js")"></script>
}